* {
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

:root {
    --main-color : #ff7b00ea ;
    --second-color : #ffe0c3ea;
    --title-color : #222;
    --subtitle-color : #8d8d8d;
    
}

html {
   overflow-y:scroll;
   scroll-padding-top: 5rem ;
   scroll-behavior: smooth;
}

html::selection {
    color :#fff;
    background-color: var(--main-color);
}

html::-webkit-scrollbar{
    width: 1em;
}

html::-webkit-scrollbar-track {
    background-color: var(--second-color);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 1em;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    height: 1000px;
    overflow-x: hidden;
    position: relative;
}

